{% extends 'comAdmin/dashboard.html' %}

{% block content %}

<style>
#a{
  font-weight: bold;
}
table tr th{
    background-color: #3c8df0;
    color: #e1e1e1;
    border: 1px solid #ffffff;
    text-align: center;
    
  }

table tr td{
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 15px;
}
</style>
<div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                       
                              <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search by, Property name, amount, status" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                           
                {% if messages %}
                  {% for message in messages %}
                    <p style="background-color: #76e268;padding-left: 20px;">{{ message }}</p>
                  {% endfor %}
                {% endif %} 
                        <table style="width: 100%;">
                          <tr>
                            <td style="text-align: justify;background-color: #DDDDDD;"><h1 class="page-head-line">User Detail</h1></td>
                            <!-- <td style="background-color: #DDDDDD;text-align:right;padding-right: 12px;"><a href="/superadmin/leadsignup/"><button class="btn btn-primary">+ Create New User</button></a></td> -->
                          </tr>
                        </table>
                        
                        
                    </div>
                </div>
                       

                       <table id="T2" style="width: 100%;">
                        <tr>
                          <td id="a">
                            First Name 
                          </td>
                          <td>
                            {{getData.first_name}}
                          </td>
                        </tr>
                        <tr>
                          <td id="a">
                            Last Name 
                          </td>
                          <td>
                            {{getData.last_name}}
                          </td>
                        </tr>
                        <tr>
                          <td id="a">
                            User Type 
                          </td>
                          <td id="a">
                            {% if getData.is_staff == 1 %}
                              Staff
                              {% elif getData.is_manager == 1 %}
                              Adminstrator
                              {% elif getData.is_superuser == 1 %}
                              <b style="color: rgb(9, 173, 53);">Super Admin</b>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td id="a">
                            Username
                          </td>
                          <td>
                            {{getData.username}}
                          </td>
                        </tr>
                        <tr>
                          <td id="a">
                            Email 
                          </td>
                          <td>
                            {{getData.email}}
                          </td>
                        </tr>
                        <tr>
                          <td id="a">
                            Join Date
                          </td>
                          <td>
                            {{getData.date_joined}}
                          </td>
                        </tr>
                        
                       </table>
                       <br>
                       <p>
                        <a href="/superadmin/get_users/"><input type="submit" value=" << Back " class="btn btn-success"></a>
                       </p>
                          
                        
                   </div>
                  </div>
                {% endblock content %}

    





